@model Lesson1_Task1_MiddleWare.Models.Student

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h2>Вы действительно хотите удалить запись в БД?</h2>
            <div>
                <table class="table table-bordered">
                    <tr>
                        <th>Id</th>
                        <td>@Model.Id</td>
                    </tr>
                    <tr>
                        <th>Имя</th>
                        <td>@Model.Name</td>
                    </tr>
                    <tr>
                        <th>Фамилие</th>
                        <td>@Model.SurName</td>
                    </tr>
                    <tr>
                        <th>Статус</th>
                        <td>@Model.Status</td>
                    </tr>
                    <tr>
                        <th>Университет</th>
                        <td>@Model.Univercity</td>
                    </tr>
                    <tr>
                        <th>Факультет</th>
                        <td>@Model.FacultyName</td>
                    </tr>
                    <tr>
                        <th>Дата поступления</th>
                        <td>@Model.Date</td>
                    </tr>
                </table>
                <div class="row">
                    <div class="col-sm-6">
                        <form asp-action="Delete">
                            <input type="submit" value="Delete" class="btn btn-default" />
                        </form>
                    </div>
                    <div class="col-sm-6 col-sm-push-5">
                        <a asp-action="Index">На главную</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>